.dropdown-container {
    padding: 8px 15px;
}

@media (min-width: 768px) {
    .dropdown-container button {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }
}

@media (max-width: 767px) {
    .dropdown-container li a {
        font-size: 14px;
    }
}
.dropdown-container .dropdown-menu {
    right: 0;
    overflow-y: auto;
    /*left: auto;*/
}

.dropdown-container .info-icon {
    float: right;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    opacity: 0.4;
}

.dropdown-container .info-text {
    display: none;
    font-size: 10px;
    padding: 5px 0;
    /*color: rgb(182, 0, 0);*/
}

.dropdown-container .info-icon:hover {
    cursor: pointer;
    opacity: 1;
}
