/*------------------------Menubar--------------------------------------*/
.navbar {
    min-height: 50px; /*wichtig für toggleButton, muss nochmal schöner gemacht werden*/
    background: -moz-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    /*font-size: 12px;*/
    /*box-shadow: 0 6px 8px rgba(0, 0, 0, 0.176);*/
    border: 0;
    position: relative;
    margin-bottom: 0;
    display: none;
}

.dropdown-menu {
    padding: 0;
}

#root > .dropdown {
    color: #555;
    font-size: 14px;
    letter-spacing: 0.6px;
}
#root .layer-item {
    font-weight: 400;
}
#root .dropdown {
    border-right: 1px solid #e5e5e5;
}

#root .active{
    background-color: rgba(227, 227, 227, 0.5);
}

.navbar-collapse.in {
    position: absolute;
    top: 50px;
    z-index: 999;
    width: 100%;
    padding: 0;
    max-height: 80vh;
}

@media (min-width: 768px) {
    .navbar .container-fluid {
        padding-left: 0;
    }
}
